.container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 5px;
    padding-right: 50px;
}

.smallBox {
    flex: 1;
    padding: 20px;
    height: 25vh;
    border-radius: 8px;
    background-color: #fafafa;
    text-align: left;
    border: 1px solid #ddd;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;
}

.button {
    padding: 14px 24px;
    height: fit-content;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}

.bigBox {
    width: 70%;
    height: 35vh;
    padding: 20px;
    border-radius: 8px;
    background-color: #fafafa;
    text-align: left;
    border: 1px solid #ddd;
    margin: 20px;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
}

.radioContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fafafa;
    text-align: left;
    border: 1px solid #ddd;
    margin: 20px;

}

.radioContainer label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.radioContainer input[type="radio"] {
    margin-right: 5px;
}